appdirs==1.4.4
bokeh==0.12.13
click==7.1.2
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.4
pandas==1.0.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
six==1.14.0
tornado==6.0.4
virtualenv==20.0.20
Werkzeug==1.0.1
xlrd==1.2.0
