
{% extends "seat_buy_order_home.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">

      let hall = {{hall}};
      let order = {{order| tojson}};
      let movieName ='{{movie}}';
      let data ={{data|safe}};
      

</script>
 <script type="text/javascript" src="{{ url_for('static', filename='js/seat_highlight.js') }}"></script>
{% endblock %}


{% block body %}
{% include '_navbar.html' %}
<section>
  <div class="column-title" style="padding-top: 100px"> Seat Buying Order</div>
</section>

<div class="column" style="background-color:white; text-align:center; color:grey;">
  Watch the seats light up in the order they were bought.
</div>
<!--/Movie Selection Options/-->
<nav class="navbar navbar-trans navbar-expand-md mr-auto navbar-selection" id="mainNav">
  <span>
  <div class="dropdown">
    <button onclick="myFunction('movieName')" class="dropbtn">Select Another Movie</button>
    <div id="movieName" class="dropdown-content">
      <input type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" id="myInput" onkeyup="filterFunction('movieName')">
    </div>
  </div>
</nav>



<div class="column-subtitle" > Movie: {{movie}} </div>
<div class="column" style="text-align:center; color:grey;">
  <b>Theatre:</b> {{theatre}}<br>
  <b>Hall:</b> {{hall_name}}<br>
  <b>Date:</b> {{date}}<br>
  <b>Time:</b> {{time}}<br>
</div>
<div class="column" style="background-color:white">
  <strong>Legend:</strong> <br>
    Seats bought in
    <ul class="frequencylegend">
      <li><span style="background-color: #F2275D"></span> Ones </li>
      <li><span style="background-color: #50BF8B"></span> Twos</li>
      <li><span style="background-color: #F2D785"></span> Threes</li>
      <li><span style="background-color: #5E5959"></span> Fours</li>
      <li><span style="background-color: #F27A5E"></span> Fives</li>
      <li><span style="background-color: #A60A33"></span> More than fives</li>
      <p align="right"><button id="replay" class="dropbtn">
      <i class="fa fa-repeat" aria-hidden="true"></i>
      Replay Animation
    </button>
  </p>
    </ul>

    
</div>
<div style="text-align:center; font-size:20px;">FRONT </div>
  <div align="left" id="seat-map" style="max-width:auto; border-left:200px, solid, white;"></div>





  <script type="text/javascript" src="{{ url_for('static', filename='js/seat_buy_order.js') }}"></script>


{% endblock %}
